.container {
    text-align: center;
    font-family: $font-url-google;
    color: $base;
    font-size: $font-size-small;
    line-height: 2;
}

p {
    padding: em(20px) em(10px);
    text-align: left;
    @include mq(medium) {
        max-width: 852px;
        margin: auto;
;    }
}

